.input-search {
    background: url("http://kodyrabatowe.wp.pl/img/ico/search_gr.png") top left no-repeat;
    height: 30px;
    padding-left: 25px;
}

#button-search {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px #6c757d solid;
    border-bottom: 1px #6c757d solid;
    border-left: 1px #6c757d solid;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.nav-text-color {
    color: #C4C4C4;
}
